/**************************************************************************/
/***********************        CSS RESET       ***************************/
/**************************************************************************/
/******************piccalil.li/blog/a-modern-css-reset*********************/

*,*::before,*::after{box-sizing: border-box;} // box-sizing rules

body,h1,h2,h3,h4,p,figure,blockquote,dl,dd {margin: 0;}// remove default margin

ul[role='list'],ol[role='list'] {list-style: none;}/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

html:focus-within {scroll-behavior: smooth;} // set core defaults

body {min-height: 100vh;text-rendering: optimizeSpeed;line-height: 1.5;}// set core body defaults

a:not([class]) {text-decoration-skip-ink: auto;} // a elments without class gets default styles

img,picture {max-width: 100%;display: block;} // make images easier work with

input,button,textarea,select {font: inherit;} // inherit fonts for inputs/buttons

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/**************************************************************************/
/***********************     UTILITY CLASSES    ***************************/
/**************************************************************************/
.d-none{display: none;}
    
.d-block{display: flex;}

.d-between{justify-content: space-between;}

.d-center{justify-content: center;}

.align-center{align-items: center;}

.margin-bottom{margin-bottom: 20px;}
    
.margin-top{margin-top: 20px;}

.border-radius-top{border-top-left-radius: 5px;border-top-right-radius: 5px;}

.border-radius-bottom{border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}

.border-bottom{border-bottom: 1px solid rgba(147, 148, 165, 0.233);}

.shadow{box-shadow: rgba(0, 0, 0, 0.055) 0px 6px 8px 4px;}

.container{max-width: 500px;margin: 0 auto;}

/**************************************************************************/
/***********************     CUSTOM PROPERTIES  ***************************/
/**************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{

--background-image: url(/images/bg-desktop-dark.jpg);
--background:hsl(235, 21%, 11%);
--background-todo:hsl(235, 24%, 19%);

--icon: url(/images/icon-sun.svg);

--clr-primary:hsl(233, 11%, 84%);
--clr-secondary:hsl(233, 14%, 35%);
--clr-accent:rgba(45, 203, 255, 0.986);
--clr-hover:hsl(236, 33%, 92%);

--primary-font: 'Josefin Sans', sans-serif;
}


.lightmode{
--background-image: url(/images/bg-desktop-light.jpg);
--background:hsl(0, 0%, 98%);
--background-todo:hsl(0, 0%, 98%);

--icon:url(/images/icon-moon.svg);

--clr-primary:rgba(0, 0, 0, 0.479);
--clr-secondary:hsl(234, 39%, 85%);
--clr-accent:rgba(45, 203, 255, 0.986);
--clr-hover:black;

--primary-font: 'Josefin Sans', sans-serif;
}


h1{
    text-transform: uppercase;
    letter-spacing: 0.4em;
     color: white;
    font-weight: bold;
}

*> p, input, input::placeholder{
    font-size: 12px;
    color: var(--clr-primary);
    margin-left: 15px;
    background: transparent;
    border: none;
    outline: none;
    font-weight: bold;
}

input{
margin-left: 35px;
}

.todo.completed p{
color: var(--clr-secondary);
text-decoration:line-through;
 }

 .options .active{
 color: var(--clr-accent);
 }

 .container .options > p, .todo-info > p{
 color: var(--clr-secondary);
 }


 .options p:hover, .todo-info p:last-child:hover{
color: var(--clr-hover);
cursor: pointer;
}


/**************************************************************************/
/***********************          CSS           ***************************/
/**************************************************************************/



body{
font-size: 18px;
min-height: 100vh;
background-image: var(--background-image);
background-repeat: no-repeat;
background-size: 100% 30%;
background-position: center top;
width:80%;
margin: 0 auto;
padding: 3rem 0;
font-size: 18px;
font-family: var(--primary-font);
background-color: var(--background);
}

.todo-container div:first-child{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.heading{
max-width: 500px;
margin-inline: auto;
margin-bottom: 30px;
}

.theme-icon{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
}

.sun{
background-image:url(/images/icon-sun.svg);
}

.moon{
background-image:url(/images/icon-moon.svg);
}


.circle{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    outline:1px solid rgba(147, 148, 165, 0.233);
    opacity: 1;
    text-align: center;
}

.circle:hover{outline: 2px solid rgba(89, 190, 236, 0.986);}
    
.todo.completed .circle{
        background-image: url("/images/icon-check.svg") ,linear-gradient( 140deg,hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        background-repeat: no-repeat ;
        background-position: center;
}

#cross{margin-left: auto;}

.todo{
background-color:var(--background-todo);
padding: 0.8em 1em;        
}

/**************************************************************************/
/*************************     MediaQueries   *****************************/
/**************************************************************************/


@media (max-width:550px){

    :root{
        --background-image: url(/images/bg-mobile-dark.jpg);
    }

    .lightmode{
        --background-image: url(/images/bg-mobile-light.jpg);
    }

}














